html {
  font-family: sans-serif;
}


.logo {
	text-align: center;
	background-color: #292929;
	height: 170px;
}

.second {
	background-color: #181818;
	height: 56px;
	text-align: center;
}

.photos {
	padding: 4px;
	width: 48px; 
	height: 48px;
	margin-right: 20px;
	margin-left: 10px;
}

.stihi {
	padding: 4px;
	width: 48px; 
	height: 48px;
	
}